:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-size: 16px; */
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/*
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
*/

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
}

h1 {
    position: absolute;
    margin: 0;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: #fff; /* White text - make sure there is enough contrast with the background-color */   
}

h2 {
    width: 100%;
    margin: 0;
    padding: 1rem;
}

article {
    position: absolute;
    bottom: 20px;
    left: 0;
    margin-left: 16px;
    margin-right: 16px;
    text-align: justified;
    opacity: 0.85;
    background-color: var(--accent1-color);
    color: #fff; /* White text - make sure there is enough contrast with the background-color */   
}

.hero article img {
    float: right;
    width: 96px;
    margin: 0px;
}