:root {
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    padding: 1rem;
    grid-column: 1;
}

header nav {
    padding: 2rem;
}

header nav ul li {
    flex: 1 1 auto;
}

header nav ul li a {
    text-decoration: none;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    height: auto;
    margin: 0 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 96px;
    margin: 0px;
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
}

h1 {
    position: absolute;
    margin: 0;
    top: 20px;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    opacity: 0.7;
    color: #fff; /* White text - make sure there is enough contrast with the background-color */   
}

h2 {
    width: 100%;
    margin: 0;
    padding: 0.5em;
    border: 0;
}

article {
    position: absolute;
    bottom: 20px;
    left: 0;
    margin-left: 16px;
    margin-right: 16px;
    text-align: left;
    opacity: 0.85;
    background-color: var(--secondary-color);
    color: #000; /* Black text - make sure there is enough contrast with the background-color */   
}

figure {
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

footer {
	border: none;
	display:flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
}

footer p {
    margin-left: 5rem;
}


/* Class declarations */

.grid {
    display: grid;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
}

.container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: stretch;
}

.container iframe {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border: none;
}

.box {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    /* border: 1px dashed red; */
    border: none;
}

.box img {
    width: 150px;
}

#box1 {
}

#box2 {
}

#box3 {
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact_info {
    display: block;
    margin: 0.5rem auto;
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
    text-align: center;
}

.contact_info h1 {
    position: unset;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
}

.contact_info p {
    position: unset;
    margin: 0;
    padding: 0.2rem;
    background-color: #fff;
    color: #000;
}

.plain {
    background-color: #fff;
    color: #000;
}

/* Form CSS starts here */

form {
    margin: 1rem;
}

fieldset {
    display: grid;
    grid-gap: 0;
    margin: 0;
    border: none;
    padding: 0.2rem;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.9rem;
    margin: 0.2rem 0;
    border-radius: 0.25rem;
}


input, select, textarea {
    padding: 0.25rem;
}

textarea {
    width: 100%;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.form-item {
    display: grid;
    align-items: center;
    text-align: left;
}

.column1 {
    grid-template-columns: 1fr 4fr;
    margin: 0.1rem 0;
}

.column2 {
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0;
}

.required::before {
    content: '* ';
    color: red;
    font-weight: 900;
}

/* Form CSS ends here */
