:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-size: 16px; */
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    padding: 1rem;
    grid-column: 1;
}

header nav {
    padding: 2rem;
}

header nav ul li {
    flex: 1 1 auto;
}

header nav ul li a {
    text-decoration: none;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    position: absolute;
    right: 100px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    height: auto;
    margin: 0 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
}
.hero article img {
    float: right;
    width: 96px;
    margin: 0px;
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
}

h1 {
    position: absolute;
    margin: 0;
    top: 20px;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    opacity: 0.7;
    color: #fff; /* White text - make sure there is enough contrast with the background-color */   
}

h2 {
    width: 100%;
    margin: 0;
    padding: 0.5em;
    border: 0;
}

article {
    position: absolute;
    bottom: 20px;
    left: 0;
    margin-left: 16px;
    margin-right: 16px;
    text-align: left;
    opacity: 0.85;
    background-color: var(--secondary-color);
    color: #000; /* Black text - make sure there is enough contrast with the background-color */   
}

figure {
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

footer {
    position: relative;
    border: 1px solid red;
    text-align: center;
}

/* Class declarations */

.grid {
    display: grid;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
}

.container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.box img {
    width: 150px;
}

#box1 {
}

#box2 {
}

#box3 {
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
