:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: "Arial, Helvetica, sans-serif"
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}