* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

table {
    width: 30%;
    background-color: #fff;
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    margin-left: auto;
    margin-right: auto;
}

th, td  {
    border: 1px solid rgb(200, 200, 200);
    padding: 0.5rem 0.75rem;
    text-align: center;
    vertical-align: middle;

}

td {
        text-align: center;

}

thead th, tfoot tr {
        background-color: #000;
        color: #fff;
        font-weight: 700;
}