.callout {
    max-width: 50%;
    margin: 1em;
    border: 1px black solid;
    padding: 1em;
    background-color: #06c;
    color: #FFFFFF;
}

.callout img {
    position: float;
    margin: 1em;
    border: 1px red solid;
    padding: 1em;
    background-color: #069;
    width: 200px;
    height: 200px;
}

blockquote {
    margin: 1em;
}

cite {
    display: block;
    border-top: 1px dotted white;
    padding-top: 1em;
    text-align: right;
    font-size: 1em;
}