.callout {
    max-width: 30%;
    margin: 1em;
    border: 1px black solid;
    padding: 1em;
    background-color: #06c;
    color: #FFFFFF;
}

.callout img {
    float: right;
    margin: 0em;
    border: 0px red solid;
    padding: 0.2em;
    background-color: gray;
    width: 100px;
    height: 100px;
}

blockquote {
    margin: 0.5em;
}

cite {
    display: block;
    border-top: 1px dotted white;
    padding-top: 1em;
    text-align: right;
    font-size: 1em;
}