*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

h1  {
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    color: black;
}

h2  {
    font-size: 1.2rem;
    color: black;
    border-bottom: 1px solid #222;
}

header, footer  {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

main  {
    width: 400px;
    margin: 0 auto;
}

footer  {
    font-size: 0.9rem;
}

img  {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;    
}

section  {
    margin: 0.8rem 0;
    border: 1px solid rgb(0 0 0  /10%);
    padding: 0.5rem;
    background-color: #CCC;
    font-size: 0.9rem;
}

section p  {
    margin: 0.63rem;
}

section ul  {
    margin: 1.5rem;
}